body {
  background-color: #dee1e2;
}

.table-striped tbody tr {
  cursor: pointer;
}

.table-striped tbody tr .td-img {
  width: 174px;
}

.table-striped tbody tr .td-img img {
  width: 100%;
  max-width: 150px;
}

.value-before.adm-p {
  font-size: 14px;
}

.value.adm-p {
  font-size: 16px;
}

.featured-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featured-img span {
  font-weight: 700;
}

.has-images {
  margin-bottom: 30px;
}

.has-images img {
  width: 100%;
}

.has-images .content-img-upload .remove-img-upload {
  position: absolute;
  z-index: 2;
  right: 0;
  background: #dc3545;
  color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-images .content-img-upload .remove-img-upload:hover,
.has-images .content-img-upload .remove-img-upload:focus,
.has-images .content-img-upload .remove-img-upload:active {
  background: #ec4454 !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
}

.has-images .imgs-vehicle {
  margin-bottom: 15px;
}

.has-images .imgs-vehicle span {
  font-weight: 700;
}

.add-images-to-upload {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-images-to-upload form {
  width: 100%;
}

.add-images-to-upload label {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 15px 5px;
  cursor: pointer;
}

.add-images-to-upload span {
  margin-bottom: 15px;
  font-weight: 700;
}

.add-images-to-upload img {
  width: 100%;
  max-width: 75px;
}

.add-images-to-upload #file, .add-images-to-upload #files {
  display: none;
}

.form-edit label {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-edit input, .form-edit textarea, .form-edit button {
  width: calc(100% - 2px);
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 25px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.form-edit button {
  color: #ffffff;
  font-weight: 700;
  background-color: #38ada9;
  border-color: #319895;
}

.public-DraftStyleDefault-ltr {
  padding: 0 5px;
  margin: 0;
}

.rdw-editor-wrapper {
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 180px;
}

.rdw-editor-main {
  height: calc(100% - 48px);
}