.auth-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-wrapper form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-wrapper form input, .auth-wrapper form button {
  width: calc(100% - 2px);
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px;
  line-height: 25px;
}

.auth-wrapper form input {
  border-color: #eee;
}

.auth-wrapper form button {
  color: #ffffff;
  font-weight: 700;
  background-color: #38ada9;
  border-color: #319895;
}

.auth-wrapper form button:hover {
  background-color: #319895;
}

.auth-wrapper form a {
  margin-top: 15px;
  color: #ffffff;
}