.each-car {
  border-radius: 15px !important;
}

.img-car {
  border-radius: 15px !important;
}

.each-car a {
  color: rgb(117, 118, 130);
}

.h6, h6 {
}

.each-car a .brand-name {
  color: rgb(86,86,96);
}

.each-car a h3 {
  color: rgb(86,86,96);
}

.title-section a {
  color: rgb(86,86,96);
  text-decoration: none;
}

.swiper-wrapper .swipper-slide {
  background-position: center;
}

@media (min-width:768px) {
  .title-section {
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width:768px) {
  .title-section.index {
    height: auto;
  }
}

@media (max-width:767px) {
  .title-section {
    padding: 30px 0;
    text-align: center;
  }
}

@media (max-width:767px) {
  .photos {
    display: none;
  }
}

@media (max-width:767px) {
  .car-description {
    margin-top: 30px;
  }
}

.navigation-clean .navbar-toggler {
  color: #ffffff;
}

.navigation-clean .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.swiper-slide {
  height: 360px;
  background-position: center;
}

.footer-dark .item.text p {
  margin-top: 30px;
}

